body {
	font-size: 16px;
	color: black;
	background-color: #D21404;
	font-family: 'Oxygen', sans-serif;
}
#header-nav {
background-color: white;
border-radius: 0;
border: 0;
}
#logo_img{

	background: url(/home/rawan/mywebsite/images/logo.png) no-repeat;
	width: 220px;
	height:189px;
	margin: 10px 15px 0px 15px;
}
navbar-brand {
  padding-top: 25px;
}

.navbar-brand h1 { /* Restaurant name */
  font-family: 'Lora', serif;
  color: red;
  font-size: 1.5em;
  text-transform: uppercase;
  font-weight: bold;
  text-shadow: 1px 1px 1px #222;
  margin-top: 25;
  margin-bottom: 0;
  line-height: .75;
}
.navbar-brand a:hover, .navbar-brand a:focus {
  text-decoration: none;
}
.navbar-brand p { /* Kosher cert */
  color: #000;
  text-transform: uppercase;
  font-size: 15px;
  margin-top: 15px;
}
.navbar-brand p span { /* Star-K */
  vertical-align: middle;
}
.numbers {
color: black;
/*text-decoration: none;*/

}
.numbers:hover{
color: red;
background-color: #dfe0e2;

}
#nav-list {
  margin-top: 10px;
}
#nav-list a {
  color: #D21404;
  text-align: center;
}
#nav-list a:hover {
  background: #E7E7E7;
}
#nav-list a span {
  font-size: 1.8em;
}

 /*#phone {
  margin-top: 5px;
}
#phone a { /* Phone number */
  /*text-align: right;
  padding-bottom: 0;
}
#phone div { /* We Deliver */
  /*color: #557c3e;
  text-align: right;
  padding-right: 15px;
}*/


.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  border: 1px solid #D21404;
}
.navbar-header button.navbar-toggle {
  clear: both;
  margin-top: -25px;
}
/* large device*/
@media (min-width: 1200px){

}/*medium device*/
@media (min-width: 992px) and (max-width: 1199px){
	#logo_img{

	background: url(/home/rawan/mywebsite/images/logo1.png) no-repeat;
	width: 215px;
	height:215px;
	margin: 5px 5px 0px 5px;
	/*padding: 5px 5px 0px 5px;*/
}
	
}/*small device*/
@media (min-width: 768px) and (max-width: 991px){

	
}/*extra small device*/
@media (max-width: 767px){

	navbar-brand {
  padding-top: 10px;
  height: 80px;
}
.navbar-brand h1 { /* Restaurant name */
  font-family: 'Lora', serif;
  color: red;
  font-size: 5vm;
  padding-top: 10px;
 
}
.navbar-brand p { 
  color: #000;
  text-transform: uppercase;
  font-size: .6em;
  margin-top: 12px;
}
.navbar-brand p span { /* Star-K */
  vertical-align: middle;
  
}
.numbers {

/*text-decoration: none;*/

}

}